#chisapani{height:300px;
           width:300px;
           border:1px solid red;
           }

#chock{color:green;
       text-align:center;
       }
#myname{color:red;
       text-align:center;
      font-size: 24px;}